{% assign actual_price = product.price | divided_by: 100 %}
{% assign compare_at_price = product.compare_at_price | divided_by: 100 %}

{% if compare_at_price %}
    <del class="fs-4">${{ compare_at_price | number_format: 2 }}</del>
    <span class="productPrice fs-2 fw-semibold">${{  actual_price | number_format: 2 }}</span>  
{% else %}
    <span class="productPrice fs-2 fw-semibold">${{ actual_price | number_format: 2 }}</span>
{% endif %}
